[Desktop Entry]
Version=1.0
Type=Application
Name=MekHQ
GenericName=BattleTech Campaign Manager
Comment=Campaign manager for the BattleTech tabletop game
Exec=mekhq %f
Icon=com.megamek.mekhq
Terminal=false
Categories=Game;StrategyGame;
StartupNotify=true
StartupWMClass=mekhq.MekHQ
Keywords=BattleTech;MegaMek;mech;wargame;
